.box1  {
    float: left;
    width: 20%;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid blue;
    width: 15%;
    
}

.box2 {
    float: left;
    width: 80%
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid blue;
 }
